<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ERROR">

    <appenders>
        <File name="ERRORFILE" fileName="logs/ErrorsInfo.log" >
            <PatternLayout pattern="%d{ABSOLUTE} [%-5p] (%F:%M:%L) - %m%n"/>
        </File>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%-5p] (%F:%M:%L) - %m%n"/>
        </Console>

        <File name="DEBUGFILE" fileName="logs/DebugInfo.log">
            <PatternLayout pattern="%d{ABSOLUTE} [%-5p] (%F:%M:%L) - %m%n"/>
        </File>
    </appenders>

    <loggers>

        <root level="TRACE">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="DEBUGFILE" level="DEBUG"/>
            <appender-ref ref="ERRORFILE" level="ERROR"/>
        </root>

    </loggers>

</configuration>